<div class="header {{color}}" style="height: 250px;">
  <div class="container-fluid">
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">BITACORA DE INCAPACIDADES</h4>
          <!-- BUSCADOR -->
          <div class="card-category">
            <div class="row">
              <div class="col-md-6 col-sm-12 d-flex align-items-center">
                <mat-form-field class="w-100 px-1" *ngIf="id_perfil == 3">
                  <mat-label class="d-flex justify-content-between align-items-center">Buscar trabajador <i
                      class="fa fa-search" aria-hidden="true"></i></mat-label>
                  <input type="text" placeholder="NOMBRE o RFC" aria-label="Number" matInput (keyup)="buscarCandidato()"
                    [formControl]="filterControl" [matAutocomplete]="auto" style="text-transform: uppercase;">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let empleado of objEmpleados" [value]="empleado.nombre"
                      [id]="empleado.id_empleado">
                      {{empleado.nombre}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- <button class="btn btn-sm btn-success"><i class="fa fa-search" aria-hidden="true"></i></button> -->
              </div>
              <div class="col">
                <button (click)="openModal2()" class="btn btn-outline-danger">Agregar incapacidad</button>
              </div>
            </div>
          </div>
        </div>
        <!-- CARDS -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-3" *ngFor="let incapacidad of incapacidades">
              <mat-card class="custom-card" (click)="openModal(incapacidad)">
                <mat-card-content>
                  <div class="row">
                    <div class="col">
                   <img [src]=fotoIncapacidad alt="Imagen" class="card-image border ">
                 </div>
                 <div class="col text_info">
                      <p class="nomobre">{{incapacidad.nombre_completo}}</p>
                      <p class="card-label"><strong>Folio:</strong>{{incapacidad.folio}}</p>
                      <p class="card-label"><strong>Dias:</strong> {{incapacidad.dias_incapacidad}}</p>
                    </div>
                    <!-- <div class="col">
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="card-label">Fecha Inicio: <br> <strong>{{incapacidad.fecha_inicial}}</strong></p>
                    </div>
                    <div class="col">
                      <p class="card-label">Fecha Final: <br> <strong>{{incapacidad.fecha_final}}</strong> </p>
                    </div>
                  </div>


                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL AGREGAR INCAPACIODAD -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Agregar Incapacidad</h1>
      </div>
      <form class="container">
          <!-- BUSCADOR -->
          <div class="card-category">
            <div class="row">
              <div class="col-md-6 col-sm-12 d-flex align-items-center">
                <mat-form-field class="w-100 px-1" *ngIf="id_perfil == 3">
                  <mat-label class="d-flex justify-content-between align-items-center">Buscar trabajador <i
                      class="fa fa-search" aria-hidden="true"></i></mat-label>
                  <input type="text" placeholder="NOMBRE o RFC" aria-label="Number" matInput (keyup)="buscarCandidato()"
                    [formControl]="filterControl" [matAutocomplete]="auto" style="text-transform: uppercase;">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let empleado of objEmpleados" [value]="empleado.nombre"
                      [id]="empleado.id_empleado">
                      {{empleado.nombre}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="incapacidad.folio"  style="text-transform: uppercase;" name="folio" matInput placeholder="Folio">
                </mat-form-field>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input  [(ngModel)]="incapacidad.fecha_inicial" name="fecha_inicial"  matInput [matDatepicker]="picker" placeholder="Fecha Inicio">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input   [(ngModel)]="incapacidad.fecha_final" name="fecha_final" matInput [matDatepicker]="picker2" placeholder="Fecha Final">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row pb-2">
          <div class="col-md-12 d-flex justify-content-end">
            <button (click)="closeModal()" class="btn btn-secondary">Cancelar</button>
            <button  (click)="guardarIncapacidad()"  type="submit"t class="btn btn-primary">Guardar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</ng-template>

<!-- MODAL -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body" style="overflow-x: hidden;">
    <div class="modal-content">
      <div class="col text-center">
        <h2>Nombre del trabajador</h2>
      </div>
      <div class="col">
        <h3>Fecha: {{ selectedRowData.fecha }}</h3>
        <form class="mt-2 example-form">
          <mat-form-field class="col-10 offset-1">
            <mat-label>Justificación</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="7"></textarea>
          </mat-form-field>
        </form>
      </div>

      <!-- Botón para cerrar el modal -->
      <div class="col d-flex justify-content-end m-2">
        <button class="btn btn-success" (click)="closeModal()">Guardar</button>
        <button class="btn btn-danger" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</ng-template>


