
.custom-card:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.322);
}


.custom-card {
  border: 1px solid #ccc;
  /* padding: 15px; */
  /* margin: 10px; */
  background-color: #f9f9f9c3;
  text-align: center;
  cursor: pointer;
}

.nomobre{
  font-size: 13px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  padding: 0px;
}

  /* Estilo de la imagen */
  .card-image {
    width: 112%;  /* Ajusta la imagen al ancho de su contenedor */
    height: 93%;
    object-fit: fill;

  }

  .text_info{
    text-align: left;
  }


  /* // MODAL DE FOTOS */
.usuario-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(15, 15, 15, 0.500);
  display: flex;
  align-items: center;
  justify-content: center;
}
  .usuario-modal__extra {
      position: relative;
      background-color: white;
      border-radius: 10px;
      /* // padding: 25px 10px 25px 10px; */
      padding: 25px;
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: min(90%, 600px);
      height: 309px;
      z-index: 1;
  }
      .usuario-modal__close {
          position: absolute;
          top: 10px;
          right: 10px;
      }

      .usuario-modal__extra-image,
      .usuario-modal__extra-images {
          display: flex;

          img {
              object-fit: fill;
          }
      }

      .usuario-modal__extra-container {
          display: flex;
          width: 100%;
          justify-content: space-around;
          position: relative;

          .usuario-modal__extra-image {
              border: 1px solid rgba(0, 0, 0, 0.397);
              border-radius: 5px;
              width: 225px;
              height: 150px;
          }

          .usuario-modal__extra-images-selector {
              display: flex;
              flex-direction: column;
              gap: 5px;

              .usuario-modal__extra-images {
                  border: 0.5px solid black;
                  border-radius: 5px;
                  width: 50px;
                  height: 50px;
                  cursor: pointer;
              }

              @include xs {
                  flex-direction: row;
              }
          }

          .upload-buttons {
              display: flex;
              flex-direction: column;
              gap: 10px;

              @include xs {
                  flex-direction: row;
                  margin-top: 30px;
              }
          }
      }

      .usuario-modal__buttons {
          display: flex;
          gap: 20px;
          margin-top: auto;
          width: 100%;
          justify-content: space-between;
      }

      .usuario-modal__almacenes-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          overflow-y: auto;
          height: 255px;
          width: 90%;

          &::-webkit-scrollbar {
              width: 4px;
          }

          &::-webkit-scrollbar-thumb {
              background-color: rgb(196, 196, 196);
              border-radius: 10px;
          }

          .usuario-modal__almacen {
              display: flex;
              background-color: white;
              width: 100%;
              border-bottom: 1px solid rgba(0, 0, 0, 0.200);
              border-left: 1px solid rgba(0, 0, 0, 0.07);
              padding: 5.5px 10px;
              gap: 10px;
              cursor: pointer;

              input {
                  cursor: pointer;
              }

              label {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
              }

              &:hover {
                  transition: 200ms;
                  background-color: rgb(214, 214, 214);
              }
          }
      }

      &--almacenes {
          @include xs {
              height: 450px !important;
          }
      }

      @include xs {
          height: 100vh;

          .usuario-modal__extra-container {
              flex-direction: column;
              align-items: center;
              gap: 10px;

              .span-location {
                  margin-top: 10px;
              }
          }
      }



.webcam {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid black;

  .webcam-close {
      position: absolute;
      right: 0;
      background-color: red;
      height: 40px;
      width: 40px;
      z-index: 1;
  }

  webcam {
      position: absolute;
      width: 100%;
      height: 250px;
      border-radius: 10px;
  }

  .webcam-btn {
      height: 50px;
      width: 50px;
      align-self: flex-end;
      z-index: 1;
  }
}
