/* .custom-card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s;
  margin: 10px;
} */

.custom-card:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.322);
}

.card-label {
  font-weight: bold;
}

/* Añade otros estilos personalizados según tus preferencias */
/* proced-incapacidad.component.css */
.custom-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  background-color: #f9f9f9;
  text-align: center;
  cursor: pointer;
}

  /* Estilo de la imagen */
  .card-image {
    max-width: 100%; /* Ajusta la imagen al ancho de su contenedor */
    height: 25%;
  }

