/deep/ .cdk-overlay-container { z-index: 9999; }
.buscador{
    border: 1px black solid;
    height: 40px;
    display: flex;
    align-items: center;
    max-width: 350px;
    justify-content: flex-start;
    padding: 0px 10px;
    border-radius: 40px;
}
.buscador input{
    border: 0;
    width: 88%;
}
.buscador a{
    margin-left: 5px;
    width: 50px;
    text-align: center;
    border: 1px lightblue solid;
    border-radius: 40px;
    background-color: lightblue;
    cursor: pointer;
}
.buscador i {
    color: black;
}