<div class="header " style="height: 250px;">
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col">
      <div class="card border-success">
        <div class="card-header">
          Integración
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <!-- BUSCAR EMPRESA -->
              <div class="col-sm-12 col-lg-5">
                <mat-form-field class="w-100">
                  <mat-label>BUSCAR EMPRESA</mat-label>
                  <input type="text" placeholder="Ingrese el nombre o id de la empresa" aria-label="Number" matInput
                    (keyup)="buscarEmpresa()" [formControl]="filterControlEmpresa" [matAutocomplete]="auto"
                    style="text-transform: uppercase;">
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionEmpresa($event)"(optionSelected)="nomEmpresa($event)">
                    <mat-option *ngFor="let empresa of empresas_busqueda" [value]="empresa.nombre"
                      [id]="empresa.id_empresa" >
                      {{empresa.empresa}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
           <!-- SELECIONAR BIMESTRE -->
           <div class="col-sm-12 col-lg-3">
            <mat-form-field class="w-100">
              <mat-label>BIMESTRE</mat-label>
              <mat-select [(ngModel)]="biMesActual" (selectionChange)="bimesSeleccionado($event.value)">
                <mat-option *ngFor="let bimessel of bimestres" [value]="bimessel.Id">{{bimessel.meses}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
              <!-- SELECIONAR EJERCICIO -->
              <div class="col-sm-12 col-lg-3">
                <mat-form-field class="w-100">
                  <mat-label>EJERCICIO</mat-label>
                  <mat-select [(ngModel)]="ejercicioActual" (selectionChange)="ejercicioSeleccionado($event)">
                    <mat-option *ngFor="let ejersel of ejercicio"
                      [value]="ejersel.ejercicio">{{ejersel.ejercicio}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>

            <div class="row">
              <!--PERIODO-->
              <!-- <div class="col-sm-12 col-lg-3">
                <mat-form-field class="w-100">
                  <mat-label>PERIODO</mat-label>
                  <input matInput type="number" [(ngModel)]="periodoActual" (input)="onPeriodChange()" />
                </mat-form-field>
              </div> -->
              <!-- MES DE PAGO -->
              <!-- <div class="col-sm-12 col-lg-3">
                <mat-form-field class="w-100">
                  <mat-label>MES</mat-label>
                  <mat-select [(ngModel)]="mesActual" (selectionChange)="mesSeleccionado($event.value)">
                    <mat-option *ngFor="let messel of meses" [value]="messel.Id">{{messel.meses}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->


                   <!-- REGISTRO PATRONAL -->
                   <div class="col-sm-12 col-lg-4">
                    <mat-form-field class="w-100">
                      <mat-label>Registro patronal</mat-label>
                      <input matInput type="text" [(ngModel)]="registroPatronal" (input)="onRFCChange()" />
                    </mat-form-field>
                  </div>
              <!-- RFC TRABAJADOR -->
              <div class="col-sm-12 col-lg-4">
                <mat-form-field class="w-100">
                  <mat-label>RFC TRABAJADOR</mat-label>
                  <input matInput type="text" [(ngModel)]="rfcTrabajador" (input)="onRFCChange()" />
                </mat-form-field>
              </div>
              <!-- BOTONES -->
              <div class="text-center col-lg-12 col-sm-12">
                <button (click)="acumulados()" class="btn btn-success" title="Buscar">
                  Buscar <i class="fa fa-search"
                  aria-hidden="true"></i></button>
                  <span style="margin: 0 20px;"></span>
                  <button  (click)="exportExel()"  class="btn btn-info" title="Validar"><i class="fa fa-plus-circle"
                    aria-hidden="true"></i>
                  Descargar excel</button>
                  <button  (click)="exportarVariables()"  class="btn btn-danger" title="Validar"><i class="fa fa-plus-circle"
                    aria-hidden="true"></i>
                  Exportar variables</button>
              </div>
              <hr>

            </div>
      </div>

 <!-- TABLA DE TRABAJADORES  -->
 <div #tablaParaPDF *ngIf="loading" class=" mt-2 row">
  <div class="col-12">
    <h1 class="text-center" id="tituloTabla"></h1>
  </div>
  <mat-paginator *ngIf="paginador" [pageSizeOptions]="[25, 50, 100,500,1000]" [pageSize]="25" [showFirstLastButtons]="true"></mat-paginator>
  <!-- TABLA DE RESULTADOS -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">
    <!-- Columnas de la tabla -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row"  >{{ row.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="imss">
      <th mat-header-cell *matHeaderCellDef>imss</th>
      <td mat-cell *matCellDef="let row" [ngClass]="'dVer'">{{ row.imss }}</td>
    </ng-container>

    <ng-container matColumnDef="rfc">
      <th mat-header-cell *matHeaderCellDef>RfC</th>
      <td mat-cell *matCellDef="let row" [ngClass]="'dVer'">{{ row.rfc }}</td>
    </ng-container>

    <ng-container  matColumnDef="dias_laborados">
      <th class="right" mat-header-cell *matHeaderCellDef>dias lab.</th>
      <td class="right" mat-cell *matCellDef="let row" [ngClass]="'dVer'">{{ row.dias_laborados }}</td>
    </ng-container>

    <ng-container matColumnDef="fecha_ingreso">
      <th class="right" mat-header-cell *matHeaderCellDef>Fecha Ing.</th>
      <td class="right" mat-cell *matCellDef="let row" [ngClass]="'dVer'">{{ row.fecha_ingreso }}</td>
    </ng-container>

    <ng-container matColumnDef="antiguedad">
      <th class="right" mat-header-cell *matHeaderCellDef>Antig</th>
      <td  class="right" mat-cell *matCellDef="let row" [ngClass]="'dVer'">{{ row.antiguedad  }}</td>
    </ng-container>

    <ng-container matColumnDef="sueldo_diario">
      <th class="right" mat-header-cell *matHeaderCellDef>Sueldo Dia</th>
      <td class="right" mat-cell *matCellDef="let row" [ngClass]="'dVer'">{{ row.sueldo_diario | currency:'MXN':'symbol-narrow':'1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="factor">
      <th  class="right" mat-header-cell *matHeaderCellDef>Factor</th>
      <td class="right" mat-cell *matCellDef="let row" [ngClass]="'dVer'">{{ row.factor}}</td>
    </ng-container>

    <ng-container matColumnDef="sdi_calculado">
      <th  class="right" mat-header-cell *matHeaderCellDef>SDI</th>
      <td class="right" mat-cell *matCellDef="let row" [ngClass]="'dVer'">{{ row.sdi_calculado  | currency:'MXN':'symbol-narrow':'1.2-2'}}</td>
    </ng-container>

    <ng-container matColumnDef="variable">
      <th  class="right" mat-header-cell *matHeaderCellDef>Variable</th>
      <td class="right" mat-cell *matCellDef="let row" [ngClass]="'dVer'">{{ row.variable  | currency:'MXN':'symbol-narrow':'1.2-2'}}</td>
    </ng-container>

      <!-- Define las columnas a mostrar -->
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr style="cursor: pointer;" mat-row *matRowDef="let row; columns: columnas;" (click)="modalDetalle(row)"></tr>
  </table>
</div>
      </div>
      </div>
    </div>
  </div>
</div>
