/* catalogo-turnos.component.css */
.card-container {
  gap: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  /* padding: 15px; */
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
}

.card-header {
  background-color: #9dc4ee;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  margin-top: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 0px;

}

table, th, td {
  border: 1px solid #ddd;
  padding: 0px;

}

th, td {
  /* padding: 6px; */
  text-align: left;
  padding: 0px;
}

th {
  background-color: #b0c5db;
  color: #fff;
  font-size: 14px;
}

.card-body{
  padding-top: 0px;
}
.table td, .table th {
  padding: 0.30rem;
  text-align: center;
}
