
.custom-card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.507);
  border-radius: 7px;
}

.card-label {
  /* font-weight: bold; */
  margin: 0px 0px ;
}

.custom-card {
  border: 1px solid #ccc;
  /* padding: 15px; */
  /* margin: 10px; */
  background-color: #f9f9f9c3;
  text-align: center;
  cursor: pointer;
}

.nomobre{
  font-size: 16px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  padding: 0px;
}

  /* Estilo de la imagen */
  .card-image {
    width: 112%; /* Ajusta la imagen al ancho de su contenedor */
    height: 91%;
    object-fit: cover;
    border-radius: 7px;

  }

  .text_info{
    text-align: left;
  }

  .fecha{
    font-size: 20px;
  }
  .motivo {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    display: inline-block; /* Asegura que el motivo se muestre en una sola línea */
  }


  .fa-times{
    color: red;
    font-size: 18px;
  }

  .ni-check-bold {
    color: green;
    font-size:18px;
  }
