<nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark" style="background-color: white;">
    <div class="container px-4">
      <!-- <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
         aria-controls="sidenav-collapse-main">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a routerLinkActive="active" [routerLink]="['/dashboard']">
                <img src="assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <!-- <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed" > -->
                <!-- <span></span>
                <span></span> -->
              <!-- </button> -->
            </div>
          </div>
        </div>
        <!-- Navbar items
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/register']">
              <i class="ni ni-circle-08"></i>
              <span class="nav-link-inner--text">Registro</span>
            </a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>
  <div class="header py-3 py-lg-7" style="background-color: white;">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-6">
            <img src="assets/img/brand/argon-white.png" style="width: 100px"/>
            <h1 class="text-dark">SISTEMA ADMINISTRATIVO</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--9 pb-4"  style="background-color: white;">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="card {{color}} shadow border-0 text-dark">
          <div class="card-body px-lg-5 py-lg-5">
            <form role="form" #f="ngForm" ngNativeValidate (ngSubmit)="login(f)">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input [(ngModel)]="usuario.usuario" name="usuario" class="form-control" placeholder="Usuario" type="text" required>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input [(ngModel)]="usuario.password" name="password" class="form-control" placeholder="Contraseña" type="password" required>
                </div>
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                <label class="custom-control-label" for=" customCheckLogin">
                  <span class="text-dark">Recordar</span>
                </label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Iniciar Sesión</button>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="row mt-3">
          <div class="col-6">
            <a href="javascript:void(0)" class="text-light"><small>Has olvidado tu contraseña?</small></a>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:void(0)" class="text-light"><small>Registrate aqui</small></a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
<footer class="py-4"  style="background-color: white;">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-dark">
          <a style="text-decoration: none;color: black;" href="https://www.serteza.com" class="font-weight-bold ml-1" target="_blank" >Serteza</a>&copy;
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end text-white">
          <li class="nav-item">
            <a style="text-decoration: none;color: black;" href="https://www.creative-tim.com?ref=ada-footer-auth-layout" class="nav-link" target="_blank">Serteza</a>
          </li>
          <li class="nav-item">
            <a style="text-decoration: none;color: black;" href="https://www.creative-tim.com/presentation?ref=ada-footer-auth-layout" class="nav-link" target="_blank">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a style="text-decoration: none;color: black;" href="http://blog.creative-tim.com?ref=ada-footer-auth-layout" class="nav-link" target="_blank">Nuestro blog</a>
          </li>
          <li class="nav-item">
            <a style="text-decoration: none;color: black;" href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
    <h4 *ngIf="tipo_arreglo == 0" class="modal-title" id="modal-basic-title">¿Que sistema desea administrar?</h4>
    <h4 *ngIf="tipo_arreglo == 1" class="modal-title" id="modal-basic-title">¿Que empresa desea administrar?</h4>
    <h4 *ngIf="tipo_arreglo == 2" class="modal-title" id="modal-basic-title">¿Que cliente desea administrar?</h4>
    <h4 *ngIf="tipo_arreglo == 3" class="modal-title" id="modal-basic-title">Seleccione el tipo de nómina</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div *ngIf="tipo_arreglo == 0" class="list-group">
            <a *ngFor="let sistema of sistemas" style="cursor: pointer;" (click)="eleccion(sistema.id,sistema.id_perfil,2)" class="list-group-item list-group-item-action" aria-current="true">
              {{sistema.sistema}}
            </a>
          </div>
          <div *ngIf="tipo_arreglo == 1" class="list-group">
            <a *ngFor="let empresa of empresas" style="cursor: pointer;" (click)="redirigirPrincipal(empresa.id_empresa,2)" class="list-group-item list-group-item-action" aria-current="true">
              {{empresa.empresa}}
            </a>
          </div>
          <div *ngIf="tipo_arreglo == 2" class="list-group">
            <a *ngFor="let cliente of clientes" style="cursor: pointer;" (click)="redirigirPrincipal(cliente.id_cliente,2)" class="list-group-item list-group-item-action" aria-current="true">
              {{cliente.cliente}}
            </a>
          </div>
          <div *ngIf="tipo_arreglo == 3" class="list-group">
            <a *ngFor="let nomina of nominas" style="cursor: pointer;" (click)="redireccionNomina(nomina.id_nomina)" class="list-group-item list-group-item-action" aria-current="true">
              {{nomina.nomina}}
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')">Cancelar</button>
  </div>
</ng-template>