<div class="header {{color}}" style="height: 250px;">
  <div class="container-fluid">
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">BIENVENIDO</h4>
        </div>
        <div style="height: 100px;"></div>
        <div class="col">
          <div class="cardo">
            <h4 class="cardo-header">ASISTENCIA</h4>
            <div class="cardo-body">
              <button (click)="registrar()" class="btn btn-primary">Registrar asistencia</button>
            </div>
          </div>
        </div>
        <div style="height: 100px;"></div>
      </div>
    </div>
  </div>
</div>
