<div class="header {{color}}" style="height: 250px;">
  <div class="container-fluid">
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
      <div class="col-lg-12 col-sm-12">
          <div class="card">
              <div class="card-header">
                <h4 class="card-title">EMPRESAS</h4>
                <div class="card-category">
                  <div class="row align-items-center">
                      <div class="col-lg-4 col-sm-12">
                          <mat-form-field class="w-100">
                              <mat-label>Buscar empresa</mat-label>
                              <input type="text"
                                      placeholder="Ingrese el nombre o id de la empresa"
                                      aria-label="Number"
                                      matInput
                                      (keyup)="buscarEmpresa()"
                                      [formControl]="filterControlEmpresa"
                                      [matAutocomplete]="auto"
                                      style="text-transform: uppercase;">
                              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionEmpresa($event)">
                                  <mat-option *ngFor="let empresa of empresas_busqueda" [value]="empresa.empresa" [id]="empresa.id_empresa">
                                      {{empresa.empresa}}
                                  </mat-option>
                              </mat-autocomplete>
                          </mat-form-field>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                      </div>
                      <div class="col-lg-4 col-sm-12 text-right">
                          <!-- <button [matMenuTriggerFor]="menu" class="btn btn-info"><i class="fas fa-ellipsis-v"></i></button>
                          <mat-menu #menu="matMenu">
                              <button mat-menu-item>
                                  <mat-icon><i class="fas fa-file-download"></i></mat-icon>
                                  <span>Reporte de empresa</span>
                              </button>
                          </mat-menu> -->
                      </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-lg-12 col-sm-12" style="overflow-x: scroll;">
                          <table mat-table [dataSource]="dataSource" class="w-100">
                              
                              <ng-container matColumnDef="Id">
                                  <th mat-header-cell *matHeaderCellDef> Id </th>
                                  <td mat-cell *matCellDef="let element"> {{element.id_empresa}} </td>
                              </ng-container>
                              
                              <ng-container matColumnDef="Empresa">
                                  <th mat-header-cell *matHeaderCellDef> Empresa </th>
                                  <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
                              </ng-container>
                              
                              <ng-container matColumnDef="Representante">
                                  <th mat-header-cell *matHeaderCellDef> Represante Legal </th>
                                  <td mat-cell *matCellDef="let element"> {{element.repre}} </td>
                              </ng-container>
  
                              <ng-container matColumnDef="Razon">
                                <th mat-header-cell *matHeaderCellDef> Razón social </th>
                                <td mat-cell *matCellDef="let element"> {{element.razon_social}} </td>
                              </ng-container>
  
                              <ng-container matColumnDef="accion">
                                  <th mat-header-cell *matHeaderCellDef> Acción </th>
                                  <td mat-cell *matCellDef="let element">  
                                      <button [matMenuTriggerFor]="menu" class="btn btn-info btn-sm"><i class="fas fa-ellipsis-v"></i></button>
                                      <mat-menu #menu="matMenu">
                                          <button mat-menu-item (click)="visualizar(element.id_empresa)">
                                              <mat-icon><i class="far fa-eye"></i></mat-icon>
                                              <span>Ver</span>
                                          </button>
                                      </mat-menu>
                                  </td>
                              </ng-container>
      
                              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          <mat-paginator 
                              [pageSizeOptions]="[5, 10, 20]"
                              showFirstLastButtons 
                              aria-label="Select page of periodic elements">
                          </mat-paginator>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss" class="modal-lg">
    <div class="modal-header">
        <h2 class="modal-title" id="tituloModal">{{info_modal.nombre_empresa}}</h2>
    </div>
    <div class="modal-body">
      <mat-tab-group mat-align-tabs="center" class="mt-2" style="height: 300px;">
        <mat-tab label="Información general">
          <div class="row w-100 mt-3">
            <div class="col-sm-12 col-lg-4" style="position: relative;">
              <img [src]="foto_user" style="object-fit: cover;
              object-position: center center;height: 120px;width: 100%;">
              <div [matMenuTriggerFor]="menu" class="img-circle d-flex align-items-center justify-content-center" style="height: 30px;width:30px;position: absolute;right:0;bottom:0;border: 1px solid gray;background-color: gray;border-radius: 50%;cursor: pointer;">
              <i class="fas fa-pencil-alt" style="color: white;"></i>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item disabled>
                  <mat-icon><i class="fas fa-camera"></i></mat-icon>
                    <span>Tomar foto</span>
                  </button>
                  <button mat-menu-item (click)="subirImagen()">
                    <mat-icon><i class="fas fa-file-upload"></i></mat-icon>
                      <span>Subir imagen</span>
                    </button>
                </mat-menu>
                <input type="file" id="foto_user" (change)="cambiarImagen($event)" style="display: none;">
              </div>
            </div>
            <div class="col-sm-12 col-lg-8">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="empresa.empresa" name="empresa">
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>Razón social</mat-label>
                    <input matInput [(ngModel)]="empresa.razon_social" name="razon">
                  </mat-form-field>
                </div>
                <div class="col-lg-12 col-sm-12">
                  <mat-form-field class="w-100">
                    <mat-label>RFC</mat-label>
                    <input matInput [(ngModel)]="empresa.rfc" name="rfc">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-lg-12 col-sm-12">
              <mat-form-field class="w-100">
                <mat-label>Descripción</mat-label>
                <textarea matInput placeholder="Redacte una breve descripción acerca de la empresa" [(ngModel)]="empresa.descripcion" name="desc"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Dirección">
          <div class="container mt-3">
            <div class="row">
              <div class="col-lg-3 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>Calle</mat-label>
                  <input matInput [(ngModel)]="empresa.direccion.calle" name="calle">
                </mat-form-field>
              </div>
              <div class="col-lg-3 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>Num. interior</mat-label>
                  <input matInput [(ngModel)]="empresa.direccion.numero_interior" name="ni">
                </mat-form-field>
              </div>
              <div class="col-lg-3 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>Num. exterior</mat-label>
                  <input matInput [(ngModel)]="empresa.direccion.numero_exterior" name="ne">
                </mat-form-field>
              </div>
              <div class="col-lg-3 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>Cruzamientos</mat-label>
                  <input matInput [(ngModel)]="empresa.direccion.cruzamiento_uno" name="cruza">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>Colonia</mat-label>
                  <input matInput [(ngModel)]="empresa.direccion.colonia" name="colonia">
                </mat-form-field>
              </div>
              <div class="col-lg-2 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>C.P</mat-label>
                  <input matInput [(ngModel)]="empresa.direccion.codigo_postal" name="cp">
                </mat-form-field>
              </div>
              <div class="col-lg-5 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>Buscar estado</mat-label>
                  <input type="text"
                          placeholder="Ingrese del estado"
                          aria-label="Number"
                          matInput
                          (keyup)="buscarEstado()"
                          [formControl]="filterControlEstado"
                          [matAutocomplete]="autodos"
                          style="text-transform: uppercase;">
                  <mat-autocomplete #autodos="matAutocomplete" (optionSelected)="optionEstado($event)">
                      <mat-option *ngFor="let estado of estados_busqueda" [value]="estado.estado" [id]="estado.id_estado">
                          {{estado.estado}}
                      </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>Localidad</mat-label>
                  <input matInput [(ngModel)]="empresa.direccion.localidad" name="loca">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>Municipio</mat-label>
                  <input matInput [(ngModel)]="empresa.direccion.municipio" name="muni">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>Referencias</mat-label>
                  <textarea matInput placeholder="Redacte una breve referencia de la empresa" [(ngModel)]="empresa.direccion.descripcion" name="ref"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Representante legal">
          <div class="container mt-3">
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>Nombre</mat-label>
                  <input matInput [(ngModel)]="empresa.representante.nombre" name="name_r">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>RFC</mat-label>
                  <input matInput [(ngModel)]="empresa.representante.rfc" name="repre_r">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-sm-12">
                <mat-form-field class="w-100">
                  <mat-label>CURP</mat-label>
                  <input matInput [(ngModel)]="empresa.representante.curp" name="repre_c">
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
        <!-- <div class="form-row col-12 mb-2" style="display: flex;justify-content: flex-end;">
            <div class="custom-control custom-switch">
                <input [(ngModel)]="activo" name="activo" type="checkbox" class="custom-control-input" id="customSwitch1">
                <label *ngIf="activo" class="custom-control-label" for="customSwitch1">Activado</label>
                <label *ngIf="!activo" class="custom-control-label" for="customSwitch1">Desactivado</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
              <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#empresa_tab" role="tab" aria-selected="true">Datos de la empresa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " data-toggle="tab" href="#direccion_tab" role="tab" aria-selected="false">Dirección</a>
                </li>
              </ul>
            </div>
            <div class="tab-content col-12" id="myTabContent">
                <div class="tab-pane active col-12" id="empresa_tab" role="tabpanel">
                    <div class="container col-12">
                        <div class="row">
                            <div class="col-lg-5 col-sm-12">
                                <div class="form-group rounded" style="max-width:280px;height:175px;cursor: pointer;border:1px lightgray solid;display: flex;justify-content: center;align-items: center;overflow: hidden;">
                                    <img (click)="subirImagen()" id="imagen_perfil" class="img-fluid" [src]="foto_user">
                                    <input type="file" #file_input id="foto_user" style="display: none;" accept=".png,.jpg,.jpeg" (change)="cambiarImagen($event)">
                                </div>
                            </div>
                            <div class="col-lg-7 col-sm-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="empresa">Empresa</label>
                                            <input [(ngModel)]="empresa.empresa" name="empresa" type="text" class="form-control" id="empresa">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="razon_social">Razón social</label>
                                            <input [(ngModel)]="empresa.razon_social" name="rfc" type="text" class="form-control" id="razon_social">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="rfc">RFC</label>
                                            <input [(ngModel)]="empresa.rfc" name="rfc" type="text" class="form-control" id="rfc" required style="text-transform: uppercase;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group"> 
                                    <label for="desc_cempresa">Descripción de la empresa</label>
                                    <textarea [(ngModel)]="empresa.descripcion" name="desc_cempresa" class="form-control" rows="5" id="desc_cempresa"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="tab-pane col-12" id="direccion_tab" role="tabpanel">
                <div class="form-row">
                  <div class="form-group col-md-1">
                    <label for="calle">Calle</label>
                    <input [(ngModel)]="empresa.direccion.calle" name="calle" type="number" class="form-control" id="calle" required>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="num_ext">Número ext.</label>
                    <input [(ngModel)]="empresa.direccion.numero_exterior" name="num_exterior" type="text" class="form-control" id="num_ext" placeholder="">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="num_int">Número int.</label>
                    <input [(ngModel)]="empresa.direccion.numero_interior" name="num_interior" type="text" class="form-control" id="num_int" placeholder="">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cruzamientos_form">Cruzamientos</label>
                    <div class="form-inline form-row align-items-center" id="cruzamientos_form">
                      <input [(ngModel)]="empresa.direccion.cruzamiento_uno" name="cruzamiento_ext" type="number" class="form-control col-5" id="cruzamientos_int" placeholder="">
                      <p class="text-center col-2"> y </p>
                      <input [(ngModel)]="empresa.direccion.cruzamiento_dos" name="cruzamiento_int" type="number" class="form-control col-5" id="cruzamientos_ext" placeholder="">
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="codigo_postal">Código postal</label>
                    <div class="input-group mb-3">
                      <input [(ngModel)]="empresa.direccion.codigo_postal" name="codigo_postal" id="codigo_postal" type="number" class="form-control" aria-describedby="icono">
                      <div class="input-group-append">
                        <span class="input-group-text" id="icono" style="cursor:pointer;" (click)="getDatos()"><i class="ni ni-fat-add"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="colonia">Colonia</label>
                    <select [(ngModel)]="empresa.direccion.colonia" name="colonia" type="text" class="form-control" (change)="modificarMunicipio()" id="colonia" placeholder="">
                      <option *ngFor="let colonia of colonias">{{colonia}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="localidad">Localidad</label>
                    <input [(ngModel)]="empresa.direccion.localidad" name="localidad" type="text" class="form-control" id="localidad" placeholder="">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="municipio">Municipio</label>
                    <input [(ngModel)]="empresa.direccion.municipio" name="municipio" type="text" class="form-control" id="municipio">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="estado">Estado</label>
                    <input [(ngModel)]="empresa.direccion.estado" name="estado" type="text" class="form-control" id="estado">
                  </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> 
                            <label for="desc_dir_empresa">Descripción</label>
                            <textarea [(ngModel)]="empresa.direccion.descripcion" name="desc_dir_empresa" class="form-control" rows="5" id="desc_dir_empresa"></textarea>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="cerrarModal()">Cerrar</button>
        <button type="button" class="btn btn-success">Editar</button>
    </div>
</ng-template>
  