<div class="header" style="height: 250px;"></div>

<div class="container-fluid mt--9">
  <h2 class="text-center col mb-2">Recibo de nómina de: {{nomina[0].nombre}}</h2>

  <!-- HEADER-->
<div class="row">
  <div class="d-flex align-items-center justify-content-center  col-6">
    <img style="width: 300px; height: 100px;" src="http://localhost:4200/assets/img/defaults/imagen-empresa-default.png" alt="Logo de la empresa">
  </div>
  <div class="col-6">
 <div class="col-6 mt-4">
  <h4 class="text-center" style="background-color: rgba(0, 38, 255, 0.116);">Recibo de nomina</h4>
<table class="table">
  <tr>
    <th>Folio Fiscal:</th>
    <td>{{ nomina[0].registro_patronal}}</td>
  </tr>
  <tr>
    <th>Fecha:</th>
    <td>{{ getfecha() | date: 'dd/MM/yyyy' }}</td>

  </tr>
  <tr>
    <th>UUID</th>
    <td>{{nomina[0].uuid}}</td>
  </tr>
</table>
</div>
  </div>
</div>
<mat-divider></mat-divider>

<!-- DATOS -->
  <div class="row mt-3">
  <!-- DATOS DEL RECEPTOR -->
  <div class="col-6">
    <h4 class="text-center" style="background-color: rgba(0, 38, 255, 0.116);">Datos del receptor</h4>
  <table class="table">
    <tr>
      <th>RFC:</th>
      <td>{{ nomina[0].rfc }}</td>
    </tr>
    <tr>
      <th>Número de empleado:</th>
      <td>{{ nomina[0].num_empleado}}</td>
    </tr>
    <tr>
      <th>Departamento</th>
      <td>{{ nomina[0].departamento}}</td>
    </tr>
    <tr>
      <th>Númeo de SS</th>
      <td>{{ nomina[0].num_seguro}}</td>
    </tr>
    <tr>
      <th>Fecha pago:</th>
      <td>{{ nomina[0].fecha_pago}}</td>
    </tr>
    <tr>
      <th>Periocidad:</th>
      <td>{{ nomina[0].periodicidad_pago}}</td>
    </tr>
    <tr>
      <th>Sueldo base:</th>
      <td>{{ nomina[0].salario_base}}</td>
    </tr>
  </table>
</div>

  <!-- DATOS DEL EMISOR -->
  <div class="col-6 mt-4">
    <h4 class="text-center" style="background-color: rgba(0, 38, 255, 0.116);">Datos del Emisor</h4>
  <table class="table">
    <tr>
      <th>{{ nomina[0].id_empresa }}</th>
    </tr>
    <tr>
      <th>Registro patronal:</th>
      <td>{{ nomina[0].registro_patronal}}</td>
    </tr>
    <tr>
      <th>Clave</th>
      <td>{{ nomina[0].clave}}</td>
    </tr>
    <tr>
      <th>UUID</th>
      <td>{{nomina[0].uuid}}</td>
    </tr>

    <!-- Agrega más filas para mostrar otros datos de la nómina -->
  </table>
</div>
</div>
<mat-divider></mat-divider>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Definir las columnas -->
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }}</th>
      <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
    </ng-container>

    <!-- Definir la fila de encabezado -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Definir las filas de datos -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Agregar paginador si es necesario -->
  <!-- <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator> -->
</div>


  <!-- Botones para exportar a PDF o imprimir -->
  <div class="text-center">
    <button class="btn btn-success">Exportar</button>
  </div>
</div>
