<div class="header " style="height: 250px;">
    <div class="container-fluid">
    </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col">
      <div class="card border-info">
          <div class="card-header">
            Movimiento de bancos
          </div>
        <div class="card-body">
            <div class="row mb-2">
                
                    <div class="col-3">
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mes</label>
                            <select name="tipo" class="form-control">
                                <option selected value="">Seleccione un tipo de documento</option> 
                                <option value="1">Enero</option>                             
                                <option value="2">Febrero</option>                             
                                <option value="3">Marzo</option>                             
                                <option value="4">Abril</option>                             
                                <option value="5">Mayo</option>                             
                                <option value="6">Junio</option>                             
                                <option value="7">Julio</option>                             
                                <option value="8">Agosto</option>                             
                                <option value="9">Septiembre</option>                             
                                <option value="10">Octubre</option> 
                                <option value="11">Noviembre</option>                             
                                <option value="12">Diciembre</option>                             
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ejercicio</label>
                            <input type="number" class="form-control" placeholder="Ingrese el ejercicio" name="anio" id="anio" value="">
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cuenta</label>
                            <select name="tipo" class="form-control">
                                <option selected value="">Seleccione un tipo de documento</option>                             
                            </select>
                        </div>

                    </div>
                    <div class="col-3 text-center">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Agregar nuevo movimiento</label>
                            <a class="btn btn-info" (click)="limpiar()" title="Nuevo departamento" data-toggle="modal" data-target="#modalCancelacion"><img src="./assets/iconos/agregar.svg" style="width: 24px;"></a>

                        </div>

                    </div>               
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col">#</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Beneficiario</th>
                            <th scope="col">Importe</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody  class="">
                        
                    </tbody>
                  
                </table>
                <div class="filtros container mt-3">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12"></div>
                        <div class="col-lg-4 col-sm-12" style="text-align: center;display: flex;justify-content: center; align-items: center;">
                            
                        </div>
                        <div class="col-lg-4 col-sm-12" style="text-align: end;">
                            <!-- <select [(ngModel)]="taken" (change)="mostrarDepartamentos()" name="taken" id="taken" class="form-control" style="width: 100px;display: inline-block;">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalCancelacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo movimiento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #c="ngForm" ngNativeValidate >
        <div class="modal-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Concepto</label>
                    <select name="tipo" class="form-control">
                        <option selected value="">Seleccione un concepto</option> 
                                                    
                    </select>                </div>
                <div class="form-group col-md-6">
                    <label for="inputCity">Estatus</label>
                    <select name="tipo" class="form-control">
                        <option selected value="">Seleccione un estatus</option>                                                     
                    </select> 
                </div>                
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Fecha del movimiento</label>
                    <input type="date" class="form-control" >
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCity">Fecha del pago</label>
                    <input type="date" class="form-control">
                </div>                
            </div>
            <div class="form-group">
                <label for="xml">Beneficiario</label>
                <input type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label for="xml">Importe</label>
                <input type="number" class="form-control" >
            </div>
            <div class="form-group">
                <label for="xml">Descripción</label>
                <textarea type="text" class="form-control" rows="4" required></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>


